<h2>
MediaServer is running!
<br />
Server booted at <%= SERVER_BOOT_TIME %><br />
Number of tasks in database: <%= Task.all.size %>
<br />
Server has been running for: <div id="time"><%= "#{@days} days, #{@hours} hours, #{@minutes} minutes, #{@seconds} seconds" %></div>
</h2>
