<h2>
MediaServer is running!
<br />
Server booted at <%= SERVER_BOOT_TIME %><br />
<div id="tasks">Waiting for server response...</div>
Server has been running for: <div id="time"><%= "#{@days} days, #{@hours} hours, #{@minutes} minutes, #{@seconds} seconds" %></div>
</h2>
